* {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-image: url("bgulit.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/*HEADER*/

header {
    background-color: rgb(230, 174, 204);
    padding: 20px;
    text-align: center;
}

header h2 {
    color: rgb(79, 108, 133);
    margin-bottom: 15px;
}

header ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 25px;
}

header a {
    text-decoration: none;
    color: rgb(120, 143, 163);
    font-style: bold;
}

header a:hover {
    color: rgb(63, 84, 130);
}


/*MAIN CONTAINER*/

.maincon {
    background-color: rgb(233, 166, 187);
    width: 350px;
    margin: 50px auto;
    padding: 40px;
    border-radius: 30px;
    text-align: center;
    box-shadow: 0 10px 30px rgb(24, 26, 30);
}


/*PROFOLE*/

.image {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.image img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}


/*LOGIN TITLE*/

.loghead {
    margin-bottom: 25px;
}

.loghead h1 {
    font-size: 30px;
}

/*SHOW PASSWORD*/

.showpass {
    display: flex;
    align-items: center;
    width: 250px;
    margin-bottom: 15px;
}

.showpass input {
    width: auto;
    margin-right: 5px;
}

.showpass label {
    margin: 0;
}

/*FOOTER*/

footer {
    display: flex;
    justify-content: center;
     background-color: rgb(230, 174, 204);
    padding: 10px;
    color: white;
}

/*CONTACT*/

.contact {
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 20px;
    flex-direction: column;
    color: rgb(11, 38, 61);
}

/*FORM*/

.txtb form {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*LABEL*/

.txtb label {
    color: rgb(107, 122, 135);
    width: 270px;
    text-align: left;
    margin-bottom: 5px;
}

/*Checkbox*/
.chkb1{
    width: 250px;
    text-align: left;
    margin-bottom: 5px;
}


/*TEXTBOX*/
.txtb input[type="email"],
.txtb input[type="text"],
.txtb input[type="password"] {
    width: 250px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 15px;
}


/*BUTTON*/

.txtb button {
    background-color: rgb(152, 45, 81);
    color: white;
    border: none;
    padding: 10px 35px;
    border-radius: 5px;
    margin-top: 5px;
   
}

/* FORGOTPASSWORD and REGISTER */

.new {
    margin-top: 25px;
    text-align: center;
}

.new p {
    margin-bottom: 10px;
}

.new a {
    color: rgb(72, 87, 151);
}

.new a:hover {
    color: rgb(72, 41, 135);
}


html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fff8fc;
}


/* NAVBAR */

header {
    background-color: #afd0ec;
    padding: 20px 50px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #47748d;
    margin: 0;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

.navbar a {
    text-decoration: none;
    color: #47748d;
}

.navbar a:hover {
    color: white;
}


/* HOME */

.homecon {
    padding: 35px;
}

.home {
    min-height: 550px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: #afd0ec;
    border-radius: 30px;
    overflow: hidden;
}

.home-txt {
    width: 50%;
}

.small-title {
    color: #47748d;
    font-weight: bold;
    letter-spacing: 3px;
}

.home-txt h1 {
    font-size: 55px;
    color: white;
    margin: 15px 0;
}

.home-txt p {
    color: #47748d;
    font-size: 18px;
    line-height: 1.5;
}


/* BUTTON */

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 22px;
    background-color: white;
    color: #47748d;
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px #0003;
}

.profile{
    width: 40%;
    text-align: center;
}

.profile img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 8px solid white;
    box-shadow: 0 10px 25px #0003;
    transition: 0.3s;
}

.profile img:hover {
    transform: rotate(3deg) scale(1.05);
}

/*MENU*/

.menu {
    width: 85%;
    margin: 70px auto;
    padding: 30px;
 background-color: #fff8fc;
    border: 4px solid #e5a8cc;
    border-radius: 30px;
    box-shadow: 0 8px 20px #0002;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.menu > h1 {
    grid-column: 1 / 4;
    text-align: center;
    color: #47748d;
    font-size: 32px;
    margin: 0;
}

.menu-sub {
    grid-column: 1 / 4;
    text-align: center;
    color: #777;
margin: 0 0 20px;
}

.menu-card {
    padding: 15px;
    background-color: white;
    border: 2px solid #8bc4e2;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 5px 12px #0002;
    transition: 0.3s;
}


.menu-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 25px #0003;
}

.menu-card img {
    width: 140px;
    height: 115px;
    object-fit: cover;
    border-radius: 15px;
    border: 3px solid #e5a8cc;
    transition: 0.3s;
}

.menu-card:hover img {
    transform: scale(1.05);
}


.menu-info h2 {
    font-size: 18px;
    color: #47748d;
}

.menu-info p {
    font-size: 13px;
    color: #555;
    line-height: 1.5;
}